# Server Configuration
PORT=8008

# Application Behavior
MOCK_DATA_PATH=mock_provider
MOCK_DATA_PROVIDER=["airasia_search_response.json", "batik_air_search_response.json", "garuda_indonesia_search_response.json", "lion_air_search_response.json"]

# In Memory Cache Config
CACHE_TTL_MINUTES=5
CACHE_CLEANUP_MINUTES=10

# Networking & Business Logic
PROVIDER_TIMEOUT_MS=1500
BEST_VALUE_PRICE_WEIGHT=0.6
BEST_VALUE_DURATION_WEIGHT=0.4

# Mock Provider Dynamic Simulation
AIRASIA_DELAY_MS=100
AIRASIA_FAILURE_RATE=10
BATIK_AIR_DELAY_MS=200
GARUDA_INDONESIA_DELAY_MS=50
LION_AIR_DELAY_MS=150